{% extends "banner_base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Front page" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        <div class="hero-unit">
            <p><b>Datavaalit</b> on pysyvä ja ajan myötä karttuva vaaleihin ja vaalien väliseen
            keskusteluun liittyvien avoimien tietovarantojen kokoelma. Lisäksi sivusto
            linkittää avoimen demokratian sovelluskehittäjä ja datajournalisteja yhteen
            verkostoksi.</p>
           <h2>Mitä tähän?</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices pharetra ligula. Donec ut orci ante, at gravida sapien. Nam leo mi, facilisis id dignissim in, venenatis sed ligula. Nullam eleifend tortor eu enim commodo ut lacinia urna molestie. Integer feugiat lacus ut enim dignissim quis lobortis lacus ullamcorper. Donec eu quam diam.
           </p>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Datan tarjoaja</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices pharetra ligula.</p>
                <p><a class="btn" href="#">Lue lisää &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Datan hyödyntäjä</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices pharetra ligula.</p>
                <p><a class="btn" href="#">Lue lisää &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Journalisti</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices pharetra ligula.</p>
                <p><a class="btn" href="#">Lue lisää &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Tutkija</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices pharetra ligula.</p>
                <p><a class="btn" href="#">Lue lisää &raquo;</a></p>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="span2">
                <a href="http://www.kansanmuisti.fi/"><img src="{% static "images/kamu.png" %}" /></a>
             </div>
            <div class="span2">
                <a href="http://louhos.github.com/sorvi/"><p style='padding-top: 20px; font-size: 46px; color: #181818; font-family: "Droid Serif", "Helvetive Neue", Helvetica"'>sorvi</p></a>
            </div>
            <div class="span3">
                <a href="http://www.sitra.fi/"><img style="padding-top: 15px" src="{% static "images/sitra.jpg" %}" /></a>
            </div>
            <div class="span2">
                <a href="https://www.djangoproject.com/"><img src="{% static "images/django.png" %}" /></a>
            </div>
        </div>
    </div>
{% endblock %}

