{% extends "site_base.html" %}

{% load i18n static compress %}
{% load static %}

{% block head_title %}Kunnallisvaaliehdokkaiden some-feedit{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}">

{% compress css inline %}
<style type="text/less">

.some-update {
	clear: both;
	margin-bottom: 20px;

	.candidate-picture {
		float: left;
		width: 50px;
		height: 50px;
	}
	.update-info {
		margin-left: 70px;
		width: 420px;
	}
	.candidate-id {
		a.candidate-name {
			font-weight: bold;
			color: #d44413;
		}
	}
	.candidate-muni {
		font-size: 90%;
		float: right;
		color: grey;
	}
	.share-media {
		margin-top: 10px;
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		overflow: hidden;
		padding: 10px;
		border-radius: 3px;
	}
	.share-picture {
		float: left;
		img {
			clear: both;
		}
	}
	.share-title {
		font-weight: bold;
		color: #d44413
	}
	.share-caption {
		font-size: 90%;
	}
	.share-info {
		color: gray;
		text-decoration: none;
		margin-left: 90px;
		font-size: 90%;
		padding-left: 20px;
	}
	.bottom-row {
		margin-top: 4px;
	}
	.interest-icon {
		margin-left: 10px;
		margin-top: 3px;
	}
	.update-time {
		margin-left: 10px;
		color: #aaa;
		font-size: 80%;
	}
}

time {
	font-weight: bold;
}

</style>
{% endcompress %}
{% endblock %}

{% block extra_script %}
{% compress js %}
<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-tastypie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jstorage.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.ba-bbq.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-fi.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/coffeescript">

SocialFeed = Backbone.Tastypie.Model.extend
  urlRoot: '/api/v1/candidate_social_feed/'

SocialFeedList = Backbone.Tastypie.Collection.extend
  urlRoot: '/api/v1/candidate_social_feed/'
  model: SocialFeed

SocialUpdate = Backbone.Tastypie.Model.extend
  urlRoot: '/api/v1/candidate_social_update/'
  get_permalink: ->
    type = @.get('feed_type')
    if type == 'FB'
      return 'https://www.facebook.com/' + @.get('origin_id')
    else if type == 'TW'
      base_url = @.get_feed_permalink()
      return base_url + '/status/' + @.get('origin_id')
  get_feed_icon: ->
    type = @.get('feed_type')
    if type == 'FB'
      icon = 'facebook.png'
    else if type == 'TW'
      icon = 'twitter.png'
    return '/static/images/icons-16/' + icon
  get_feed_permalink: ->
    type = @.get('feed_type')
    if type == 'FB'
      return 'https://www.facebook.com/' + @.get('feed_origin_id')
    else if type == 'TW'
      return 'https://www.twitter.com/' + @.get('feed_account_name')
  get_feed: (feed_list) ->
    # A little hack to make sure we have compatible feed names
    if @.feed
      return feed
    feed_id = @.get('feed').replace('/social_feed/', '/candidate_social_feed/')
    @.feed = feed_list.get(feed_id)
    return @.feed
  get_candidate: (feed_list) ->
    feed = @.get_feed(feed_list)
    @.candidate = feed.get('candidate')
    return @.candidate

SocialUpdateList = Backbone.Tastypie.Collection.extend
  urlRoot: '/api/v1/candidate_social_update/'
  model: SocialUpdate

SocialUpdateView = Backbone.View.extend
  tagName: 'li'
  className: 'some-update'
  template: _.template $('#some-update-template').html()
  initialize: ->
    @.model.on 'change', @.render, @
  render: ->
    args = @model.toJSON()
    args.created_time = moment(args.created_time)
    args.feed_icon = @model.get_feed_icon()
    args.permalink = @model.get_permalink()
    args.feed_permalink = @model.get_feed_permalink()
    @.$el.html @template(args)
    return @.$el

AppView = Backbone.View.extend
  el: '#some-updates'
  initialize: ->
    @.update_list = new SocialUpdateList
    @.update_list.on 'add', @.add_one, @
    @.update_list.on 'reset', @.add_all, @
  add_one: (update) ->
    update_view = new SocialUpdateView {model: update}
    @.$('#some-list').append update_view.render()
  set_municipality: (muni_id) ->
    if not muni_id
      delete @.update_list.filters.candidate__municipality
      args = {}
    else
      args = {candidate__municipality: muni_id}
    @.set_filters args
  set_party: (party_id, no_render) ->
    if not party_id
      delete @.update_list.filters.candidate__party
      args = {}
    else
      args = {candidate__party: party_id}
    @.set_filters args
  add_all: ->
    el = @.$('#some-list')
    el.html('')
    if @.update_list.length == 0
      el.html('<h2>{% trans "No social media activity found." %}</h2>')
    else
      @.update_list.each @.add_one, @
  set_filters: (filters) ->
    delete @.update_list.filters.offset
    _.extend @.update_list.filters, filters
  render: ->
    @.update_list.fetch()

api_fetch = (type, opts) ->
  url = "/api/v1/#{ type }/?format=json"
  if opts.limit
    url += "&limit=" + opts.limit
  else
    url += "&limit=100"
  if opts.search_args
    url += "&" + opts.search_args
  if opts.error_callback
    error_cb = opts.error_callback
  else
    error_cb = ->
      alert "Communication with server failed"

  objs = []
  fetch_objs = (url) ->
    $.ajax url,
      dataType: "json"
      success: (data) ->
        objs = objs.concat data.objects
        if data.meta.next && opts.all
          fetch_objs data.meta.next
        else
          opts.callback objs
      error: error_cb
  fetch_objs url

window.selected_municipality = null
window.selected_party = null

jQuery ->
  app_view = new AppView

  read_params_from_hash = ->
    hash = window.location.hash
    if hash.substring(0, 2) == "#?"
      hash = hash.substring(2)
    params = $.deparam(hash)
    id = parseInt(params.municipality)
    if !isNaN(id)
      window.selected_municipality = id
      params.municipality = id
    else 
      delete params.municipality
    id = parseInt(params.party)
    if !isNaN(id)
      window.selected_party = id
      params.party = id
    else
      delete params.party
    return params
  read_params_from_hash()

  update_location_hash = ->
    params = {}
    if window.selected_municipality
      params.municipality = window.selected_municipality
    if window.selected_party
      params.party = window.selected_party
    param_str = $.param(params)
    if param_str
      param_str = '#?' + param_str
    else
      param_str = '#'
    console.log '"' + param_str + '"'
    $.bbq.pushState param_str

  set_muni = (muni_id) ->
    window.selected_municipality = muni_id
    app_view.set_municipality muni_id

  set_party = (party_id) ->
    window.selected_party = party_id
    app_view.set_party party_id
    
  fetch_munis = ->
    api_fetch "municipality",
      limit: 1000,
      all: true,
      callback: (objs) ->
        muni_list = objs
        el_list = $("#municipality-chooser")
        for muni in muni_list
          if muni.id == selected_municipality
            selected = "selected "
          else
            selected = ""
          el = $("<option #{ selected }value=#{ muni.id }>#{ muni.name }</option>")
          el_list.append el
        $("#municipality-chooser").trigger "liszt:updated"

  fetch_parties = ->
    api_fetch "party",
      limit: 1000,
      all: true,
      callback: (objs) ->
        party_list = _.sortBy objs, (obj) ->
          return obj.abbrev
        el_list = $("#party-chooser")
        for party in party_list
          if party.id == selected_party
            selected = "selected "
          else
            selected = ""
          el = $("<option #{ selected }value=#{ party.id }>#{ party.abbrev }</option>")
          el_list.append el
        $("#party-chooser").trigger "liszt:updated"
        

  chosen_args = {allow_single_deselect: true}
  $("#municipality-chooser").chosen(chosen_args).change((ev, args) ->
    if not args
      muni_id = null
    else
      muni_id = parseInt(args.selected)
    set_muni muni_id
    update_location_hash()
    app_view.render()
  )
  $("#party-chooser").chosen(chosen_args).change((ev, args) ->
    if not args
      party_id = null
    else
      party_id = parseInt(args.selected)
    set_party party_id
    update_location_hash()
    app_view.render()
  )
  $(window).bind('hashchange', ->
    params = read_params_from_hash()
    if params.municipality
      set_muni params.municipality
    else
      set_muni null
    if params.party
      set_party params.party
    else
      set_party null
    app_view.render()
  )
  fetch_munis()
  fetch_parties()

  $(window).scroll ->
    w = $(window)
    if w.scrollTop() + w.height() == $(document).height()
      app_view.update_list.fetchNext()
    
  $("#technical-details-button").click ->
    $("#technical-details-button").hide()
    $("#technical-details").show()
    return false
  $("time").each ->
    m_time = moment($(this).attr('datetime'))
    $(this).html(m_time.from())

  # Start the rendering
  $(window).trigger('hashchange')
</script>
{% endcompress %}
{% endblock %}

{% block body %}
  <h1>Kunnallisvaaliehdokkaiden some-feedit</h1>
  <div class="span8" style="overflow: hidden; clear: both">
    <p>Tällä sivulla voit selata vuoden 2012 kunnallisvaaliehdokkaiden sosiaalisen median
  päivityksiä. Voit rajata tarkastelun kunnan ja puolueen perusteella. Ehdokkaiden profiilien osoitteet on saatu <a href="https://vaalikone.yle.fi/">Ylen vaalikoneesta</a>.</p>
    <p>Mukana on <strong>{{ tw.update_count|add:fb.update_count }}</strong> päivitystä. Päivityksiä haemme <strong>{{ tw.feed_count }}</strong> ehdokkaan Twitter-syötteestä ja <strong>{{ fb.feed_count }}</strong> ehdokkaan Facebook-sivulta. Tietoja on päivitetty viimeksi <time datetime="{{ last_update|date:"c" }}">{{ last_update }}</time>.</p>
    <a id="technical-details-button" href="#">Lue lisää palvelun teknisistä yksityiskohdista »</a>
    <div id="technical-details" class="hide">
      <p>Sivu käyttää Datavaalit-projektin tietokantaa REST-rajapinnan yli.</p>
      <p><a href="https://github.com/kansanmuisti/datavaalit">Koko sivuston lähdekoodi</a> on avoimesti saatavilla. Tämä sivu on ohjelmoitu <a href="http://coffeescript.org/">CoffeeScript-kielellä</a>. Sivun lähdekoodi on <a href="https://github.com/kansanmuisti/datavaalit/blob/master/web/templates/political/candidate_social_feeds.html">täällä</a>. REST-toiminnallisuuden toteuttaa <a href="http://backbonejs.org/">Backbone.js-kirjasto</a> ja suomenkieliset aikaleimat muotoilee <a href="http://momentjs.com/">Moment.js-kirjasto</a>.</p>
    </div>
  </div>
  <div class="span8" style="margin-top: 20px; margin-bottom: 20px; clear: both">
    <select data-placeholder="{% trans "Choose a municipality" %}" id="municipality-chooser">
      <option value=""></option>
    </select>
    <select data-placeholder="{% trans "Choose a party" %}" id="party-chooser">
      <option value=""></option>
    </select>
  </div>
  <div style="clear: both;" id="some-updates">
    <ul id="some-list" class="unstyled">
    </ul>
  </div>
  <script type="text/template" id="some-update-template">
    <a class="candidate-picture" href="<%= feed_permalink %>">
      <% if (feed_picture) { %>
      <img src="<%= feed_picture %>" />
      <% } else { %>
      <div class="no-thumbnail"></div>
      <% } %>
    </a>
    <div class="update-info">
      <div class="candidate-id">
        <a class="candidate-name" href="<%= feed_permalink %>"><%= candidate_first_name %> <%= candidate_last_name %></a> /
        <span class="candidate-party"><%= candidate_party_code %></span>
        <% if (!selected_municipality) { %>
        <span class="candidate-muni"><%= candidate_municipality_name %></span>
        <% } %>
      </div>
      <div class="update-text"><%= text %></div>
      <% if (picture || share_link) { %>
      <div class="share-media">
        <div style="clear: both">
        <div class="share-picture">
          <a href="<%= share_link %>"><img src="<%= picture %>" /></a>
        </div>
        <a href="<%= share_link %>">
          <div class="share-info">
            <div class="share-title"><%= share_title %></div>
            <div class="share-caption"><%= share_caption %></div>
            <div class="share-description"><%= share_description %></div>
          </div>
        </a>
        </div>
      </div>
      <% } %>
      <div class="bottom-row">
        <a href="<%= permalink %>"><img class="feed-icon" src="<%= feed_icon %>"></a>
        <span class="update-time"><%= created_time.from() %></span>
        <% if (interest != null) { %>
          <span class="interest"><i class="interest-icon icon-thumbs-up"></i> <%= interest %></span>
        <% } %>
      </div>
    </div>
  </script>
{% endblock %}

