{% extends "site_base.html" %}

{% load i18n static compress %}

{% block head_title %}Kunnallisvaaliehdokkaiden ennakkorahoitusilmoitukset{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/DT_bootstrap.css" %}">
<link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />

<style>
#map {
	width: 450px;
	height: 650px;
	
	margin: 10px 0 40px;
}

#party-graph {
	width: 400px; 
	height: 300px;
}

#party-legend {
	position: absolute; 
	left: 400px; 
	top: 50px;
}

#candidate-graph {
	width: 400px; 
	height: 300px;
}

#candidate-legend {
	position: absolute; 
	left: 400px; 
	top: 50px;
}

.leaflet-container {
    background: none repeat scroll 0 0 #F5F5F5;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	right: 0px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#chooser-container {
	margin-top: 20px;
}

.graph-container {
	margin-bottom: 0px;
}

#party-legend .highlight {
	background-color: khaki;
}
#party-legend td {
	white-space: nowrap;
}
.profile-picture {
	width: 80px;
}
#candidate-budgets td {
	vertical-align: middle;
}
</style>
{% endblock %}

{% block extra_script %}
{% compress js %}
<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-tastypie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.ba-bbq.js" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "js/spin.min.js" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "js/jquery.dataTables.js" %}"></script>
<script type="text/javascript" src="{% static "js/DT_bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "js/jquery.flot.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.time.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.crosshair.js" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "js/leaflet.js" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-fi.js" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript">
muni_dict = {{ muni_json|safe }}

dataTable_language = {
  "sProcessing":   "Hetkinen...",
  "sLengthMenu":   "Näytä kerralla _MENU_ riviä",
  "sZeroRecords":  "Tietoja ei löytynyt",
  "sInfo":         "Näytetään rivit _START_ - _END_ (yhteensä _TOTAL_ )",
  "sInfoEmpty":    "Näytetään 0 - 0 (yhteensä 0)",
  "sInfoFiltered": "(suodatettu _MAX_ tuloksen joukosta)",
  "sInfoPostFix":  "",
  "sSearch":       "Etsi:",
  "sUrl":          "",
  "oPaginate": {
      "sFirst":    "Ensimmäinen",
      "sPrevious": "Edellinen",
      "sNext":     "Seuraava",
      "sLast":     "Viimeinen"
  }
}
draw_table = (columns, objects, target) ->
  rows = []
  for obj in objects
    row = []
    for col in columns
      val = obj[col.field]
      if col.type == 'img'
        if val
          row.push("<img src='#{ val }' class='#{ col.class }'>")
        else
          row.push("")
      else
        row.push(val)
    rows.push(row)

  cols = []
  for col in columns
    attr = {sTitle: col.name}
    if 'width' of col
      attr.sWidth = col.width
    if col.type == 'img'
      attr.bSortable = false
      attr.bSearchable = false
    if col.render
      attr.mRender = col.render
    cols.push(attr)

  args = {
    sDom: "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
    sPaginationType: "bootstrap"
    oLanguage: dataTable_language
    aaData: rows
    aoColumns: cols
  }
  return target.dataTable args

api_fetch = (type, opts) ->
  url = "/api/v1/#{ type }/?format=json"
  if opts.limit
    url += "&limit=" + opts.limit
  else
    url += "&limit=100"
  if opts.search_args
    url += "&" + opts.search_args
  if opts.error_callback
    error_cb = opts.error_callback
  else
    error_cb = ->
      alert "Communication with server failed"

  objs = []
  fetch_objs = (url) ->
    $.ajax url,
      dataType: "json"
      success: (data) ->
        objs = objs.concat data.objects
        if data.meta.next && opts.all
          fetch_objs data.meta.next
        else
          opts.callback objs
      error: error_cb
  fetch_objs url

$.ajax '/api/v1/municipality/'
  dataType: 'json'
  data:
    limit: 1000
    format: 'geojson'
  error: (args1, args2) ->
    alert "{% trans "Communication with server failed" %}"
  success: (geojson) ->
    for feat in geojson.features
      muni = muni_dict[feat.id]
      # If the muni is not found, it doesn't have the stats.
      # We don't render those.
      if not muni
        feat.properties.render = false
      else
        feat.properties.render = true
        _.extend(feat.properties, muni)
    geojson.features = _.filter(geojson.features, (feat) ->
      return feat.properties.render
    )
    handle_geojson(geojson)

PARTY_COLORS =
  'RKP': "#FFD87D",
  'KOK': "#C7DDF3",
  'KESK': "#9FD18B",
  'KD': "#CCCCCC",
  'PS': "#69B3E3",
  'VIHR': "#DDE89A",
  'SDP': "#F9C0C7",
  'VAS': "#EC008C",
  'PIR': "#888888",
  'SKP': "red",

cumulative_data = []
num_data = []

render_plots = (party_list) ->
  cumulative_data = []
  num_data = []
  num_ticks = []
  i = 0
  # Filter out smallest parties
  if party_list.length > 10
    spl = _.sortBy(party_list, (p) ->
      return -p.num_candidates
    )
    for i in [10..spl.length-1]
      spl[i].filter = true

  for p in party_list
    if not p.filter
      args =
        label: p.code
        data: [[i, p.num_candidates]]
      if p.code of PARTY_COLORS
        args.color = PARTY_COLORS[p.code]
      num_data.push args
      num_ticks.push [i, p.code]
      i++

    data = []
    # Convert data into percentages
    for dd in p.disclosure_data
      perc = dd[1] / p.num_candidates
      data.push([dd[0], perc])
    if not data.length
      continue
    # Include only parties that actually have candidates
    # submitting budgets.
    last_percent = data[data.length-1][1]
    if p.filter and last_percent == 0.0
      continue
    args =
      data: data
      label: p.code + " " + (last_percent*100).toFixed(1) + " %"
    if p.code of PARTY_COLORS
      args.color = PARTY_COLORS[p.code]
    args.party = p
    cumulative_data.push args 

  if not cumulative_data.length
    $("#party-graph").unbind("plothover")
    $("#party-graph").html("<h4>Ei ennakkoilmoituksia.</h4>")
    $("#party-legend").html("")
  else
    # Sort based on percentage
    cumulative_data = _.sortBy cumulative_data, (fd) ->
      return 1 - fd.data[data.length-1][1]
    plot = $.plot $("#party-graph"), cumulative_data,
      series:
        lines:
          show: true
          lineWidth: 3
      crosshair:
        mode: "x"
      xaxis:
        mode: "time"
        timeformat: "%d.%m."
        show: true
      yaxis:
        tickFormatter: (num, obj) ->
          return "" + (num * 100).toFixed(0) + " %"
        show: true
        min: 0
        max: 1
      grid:
        hoverable: true
        borderWidth: 0
      legend:
        container: $("#party-legend")

  $.plot $("#candidate-graph"), num_data,
    series:
      bars:
        show: true
        align: "center"
    grid:
      show: true
      borderWidth: 0
    legend:
      show: false
    xaxis:
      ticks: num_ticks

  $("#party-legend .legendLabel").each ->
    $(@).css('width', $(@).width())

  $("#party-graph").unbind("plothover")
  last_position = null
  last_item = null
  update_legend_timeout = null
  update_legend = ->
    update_legend_timeout = null
    leg_el = $("#party-legend")
    leg_el.find("tr").removeClass("highlight")

    dataset = cumulative_data
    # find the nearest point, x-wise
    series = dataset[0]
    for i in [0..series.data.length-1]
      if series.data[i][0] > last_position.x
        break
    if i >= series.data.length
      i = series.data.length - 1
    nearest_data = i

    for i in [0..dataset.length-1]
      series = dataset[i]
      el = leg_el.find(".legendLabel").eq(i)
      perc = series.data[nearest_data][1] * 100
      text = series.party.code + " " + perc.toFixed(1) + " %"
      el.html(text)

    if not last_item
      return
    party = cumulative_data[last_item.seriesIndex].party
    num_submitted = party.disclosure_data[last_item.dataIndex][1]
    $("#party-legend tr").eq(last_item.seriesIndex).addClass("highlight")
  
  $("#party-graph").bind("plothover", (event, pos, item) ->
    last_position = pos
    last_item = item
    if not update_legend_timeout
      update_legend_timeout = setTimeout(update_legend, 50)  
  )


render_budget_submitted = (data, type, full) ->
  if type == 'display' or type == 'filter'
    if not data
      return '<img src="{% static "images/icons-16/cancel.png" %}">'
    d = new Date(data)
    return '<img src="{% static "images/icons-16/accept.png" %}">' + " #{ d.getDate() }.#{ d.getMonth() }.#{ d.getFullYear() }"
  else
    if not data
      return 0
    else
      return data

candidate_table_columns = [
  {
    name: "{% trans "Picture" %}"
    field: "picture"
    width: "6em"
    type: "img"
    class: "profile-picture"
  }, {
    name: "{% trans "Number" %}"
    field: "number"
    width: "6em"
  }, {
    name: "{% trans "Name" %}"
    field: "person_name"
  }, {
    name: "{% trans "Party" %}"
    field: "party_code"
    width: "8em"
  }, {
    name: "{% trans "Age" %}"
    field: "age"
    width: "5em"
  }, {  
    name: "{% trans "Budget submitted" %}"
    field: "budget_submitted"
    render: render_budget_submitted
  }
]

candidate_table = null
candidate_budget_spinner = null

render_candidate_budgets = (budgets) ->
  for b in budgets
    _.extend(b, b.candidate)
    b.time_submitted = moment(b.time_submitted).valueOf()
  table_el = $('<table class="table table-striped"></table>')
  target_el = $("#candidate-budgets")
  target_el.append(table_el)
  candidate_table = draw_table(candidate_table_columns, budgets, table_el)
  candidate_table.fnSort([[1, 'asc']])
  target_el.show()

destroy_candidate_budgets = ->
  if candidate_table
    candidate_table.fnDestroy()
    candidate_table = null
  if candidate_budget_spinner
    candidate_budget_spinner.stop()
    candidate_budget_spinner = null
  $("#candidate-budgets").html('')

fetch_campaign_budgets = (muni_id, candidate_list) ->
  api_fetch "campaign_budget",
    search_args: "candidate__municipality=#{ muni_id }"
    limit: 1000
    all: true
    callback: (objs) ->
      candidate_dict = {}
      for c in candidate_list
        candidate_dict[c.id] = c
        c.budget_submitted = null
      for b in objs
        arr = b.candidate.split('/')
        cand_id = arr[arr.length-2]
        cand = candidate_dict[cand_id]
        cand.budget_submitted = b.time_submitted
      destroy_candidate_budgets()
      render_candidate_budgets(candidate_list)
  
fetch_candidates = (muni_id) ->
  destroy_candidate_budgets()
  candidate_budget_spinner = new Spinner().spin($("#candidate-budgets")[0])
  api_fetch "candidate",
    search_args: "municipality=#{ muni_id }"
    limit: 1000
    all: true
    callback: (objs) ->
      fetch_campaign_budgets(muni_id, objs)

selected_municipality = null

render_municipality = (muni_id) ->
  if muni_id == 0
    muni_name = "koko maa"
  else
    muni_name = muni_dict[muni_id].name

  $("#municipality-chooser").val(muni_id)
  $("#municipality-chooser").trigger("liszt:updated")

  $("#party-graph").html('')
  spinner = new Spinner().spin($("#party-graph")[0])
  if muni_id
    data = {municipality: muni_id}
    fetch_candidates(muni_id)
  else
    data = {}
    $("#candidate-budgets").hide()
  $.ajax '/candidates/fetch-party-budget/'
    dataType: 'json'
    data: data
    error: (args1, args2) ->
      alert "{% trans "Communication with server failed" %}"
    success: (data) ->
      spinner.stop()
      party_list = data
      $(".muni-selection").html(muni_name)
      render_plots party_list

set_municipality = (muni_name) ->
  hash_str = "#?"
  if muni_name
    hash_str += "municipality=" + muni_dict[muni_name].slug
  $.bbq.pushState hash_str

stored_geojson = null
handle_geojson = (json) ->
  stored_geojson = json

init_map = ->
  map = L.map('map',
    minZoom: 5,
    maxZoom: 6,
    # Some basic options to keep the map still and prevent
    # the user from zooming and such.
    scrollWheelZoom: true,
    touchZoom: true,
    doubleClickZoom: true,
    zoomControl: true,
    dragging: true
  );

  #cloudmade = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
  #  attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
  #  key: 'BC9A493B41014CAABB98F0471D759707',
  #  styleId: 22677
  #).addTo(map);

  # control that shows state info on hover
  info = L.control();

  info.onAdd = (map) ->
    @._div = L.DomUtil.create('div', 'info');
    @.update();
    @._div;
  info.update = (props) ->
    s = ''
    if props
      perc = props.num_submitted / props.num_candidates
      s += '<b>' + props.name + '</b> (' + props.num_candidates + ' ehdokasta)' + '<br />' + (perc * 100).toFixed(0) + ' % tehnyt ennakkoilmoituksen'
    else
      s += '<p>Vie osoitin kunnan päälle<br /><small>Klikkaa kuntaa päivittääksesi kuvaajat oikealla</small></p>'
    @._div.innerHTML = s
  info.addTo(map);
  # get color depending on population density value
  get_color = (d) ->
    if d > 0.40
      c = '#1A9850'
    else if d > 0.30
      c = '#91CF60'
    else if d > 0.20
      c = '#D9EF8B'
    else if d > 0.10
      c = '#FEE08B'
    else if d > 0.01
      c = '#FC8D59'
    else
      c = '#D73027'
    return c

  style = (feature) ->
    props = feature.properties
    perc = props.num_submitted / props.num_candidates
    return {
      fillColor: get_color(perc)
      weight: 1
      color: '#666'
      opacity: 0.6
      fillOpacity: 1.0
    }
  highlight_feature = (e) ->
    layer = e.target;

    layer.setStyle
      weight: 5,
      color: '#666',
      dashArray: '',
      fillOpacity: 0.7
    if (!L.Browser.ie && !L.Browser.opera)
      layer.bringToFront()
    info.update(layer.feature.properties)

  reset_highlight = (e) ->
    geojson.resetStyle(e.target)
    info.update()

  on_each_feature = (feature, layer) ->
    zoom_to_feature = (e) ->
      set_municipality(feature.id)
      #map.fitBounds(e.target.getBounds())

    layer.on
      mouseover: highlight_feature,
      mouseout: reset_highlight,
      click: zoom_to_feature

  legend = L.control({position: 'bottomright'})
  legend.onAdd = (map) ->
    div = L.DomUtil.create('div', 'info legend')
    grades = [0.0, 0.01, 0.10, 0.20, 0.30, 0.40]
    labels = []
    for i in [0..grades.length-1]
      from = grades[i]
      from_pr = (from * 100).toFixed(0)
      to = grades[i + 1]
      to_pr = (to * 100).toFixed(0)
      s = '<i style="background:' + get_color(from + 0.01) + '"></i> ' + from_pr + ' % '
      if to
        s += ' &ndash; ' + to_pr + ' % '
      else
        s += '+'
      labels.push(s)
    div.innerHTML = labels.join('<br>')
    return div
  legend.addTo(map)

  geojson = {}
  handle_geojson = (json_data) ->
    geojson = L.geoJson(json_data,
      style: style,
      onEachFeature: on_each_feature
    ).addTo(map)
    bounds = geojson.getBounds();
    # Adjust the bounds manually
    offset = 6
    bounds["_southWest"]["lat"] = bounds["_southWest"]["lat"] - offset
    bounds["_southWest"]["lng"] = bounds["_southWest"]["lng"] - offset
    bounds["_northEast"]["lat"] = bounds["_northEast"]["lat"] + offset
    bounds["_northEast"]["lng"] = bounds["_northEast"]["lng"] + offset
    map.fitBounds(bounds).setMaxBounds(bounds)
    map.panTo([66.0, 27.8])
  if stored_geojson
    handle_geojson(stored_geojson)

$(window).bind('hashchange', ->
  hash = window.location.hash
  if hash.substring(0, 2) == "#?"
    hash = hash.substring(2)
  params = $.deparam(hash)
  muni_name = params.municipality
  muni_id = 0
  if muni_name
    muni_name = muni_name.toLowerCase()
    for id, muni of muni_dict
      if muni.slug == muni_name
        muni_id = id
        break
  render_municipality(muni_id)
)

# The code below is run after the HTML document has finished loading.
jQuery ->
  muni_ch = $("#municipality-chooser")
  muni_list = ([id, muni.name] for id, muni of muni_dict)
  muni_list = _.sortBy(muni_list, (m) ->
    return m[1]
  )
  for m in muni_list
    el = $("<option value=#{ m[0] }>#{ m[1] }</option>")
    muni_ch.append el
  chosen_args = {allow_single_deselect: true}
  $("#municipality-chooser").chosen(chosen_args).change((ev, args) ->
    if not args
      muni_id = 0
    else
      muni_id = parseInt(args.selected)
    set_municipality muni_id
  )

  init_map()
  $(window).trigger('hashchange')
</script>
{% endcompress %}
{% endblock %}

{% block body %}
  	<div class="row-fluid">
  		<div class=span12>
  		
  		  <div class="hero-unit">
  		  	<h1 style="font-size: 26px;">Kunnallisvaaliehdokkaiden 2012 ennakkorahoitusilmoitukset</h1>
  		  	<p>
  		  		Kunnallisvaaliehdokkaiden on mahdollista tehdä ennakkoilmoitus 
  		  		vaalikampanjansa rahoituksesta jo ennen mahdollista valituksi 
  		  		tulemista. Kuinka moni on valmis avaamaan vaalirahoituksensa 
  		  		etukäteen ja kuinka ennakkoilmoituksia on täytetty eri 
  		  		puolueissa?
  		    </p>
  		  </div>
  		
  		  <p>
		  	Tämän sivun kuvaajat perustuvat <a href="http://www.vaalirahoitusvalvonta.fi/fi/index/vaalirahailmoituksia.html">
		  	Puolue- ja vaalirahoitusvalvonnan</a> rekisteröimiin vaalirahoituksen
		  	ennakkoilmoituksiin. Ennakkoilmoiksen tekeminen on vapaaehtoista ja 
		  	varsinaisen vaalirahoitusilmoituksen tekevät vaalien tuloksen 
		  	vahvistamisen jälkeen valitut ja vaalien tulosta vahvistettaessa 
		  	varaedustajaksi määrätyt. 
		  </p>
		  
		  <p>
		  	Ennakkoilmoitukset on koostettu hakemalla <a href="http://www.vaalirahoitusvalvonta.fi/fi/index/vaalirahailmoituksia/raportit/Tietoaineistot.html.stx">
		    VRV:n julkaisemia tietoaineistoja</a> automaattisesti ja 
		    päivittämällä tiedot Datavaalien tietokantaan.
		  </p>
		  
		  <p>
		  	Tilanne on viimeksi päivitetty <strong>{{ timestamp|date:"d.m.Y H:i" }}</strong>, jolloin 
		  	ennakkoilmoituksen on jättänyt <strong>{{ num_submitted }}</strong> ehdokasta. 
		  </p>
		
	    </div>
	 </div>
         <div id="chooser-container">
           <select data-placeholder="{% trans "Choose a municipality" %}" id="municipality-chooser">
             <option value=""></option>
           </select>
         </select>
	 	<div class="row-fluid graph-container">
	 	  <div class="span6">
	 	  	<h5>Ennakkoilmoittaneiden osuus kunnittain</h5>
	 		<div id="map"></div>
		  </div>
		  <div class="span6">
			  <div style="position: relative; margin: 10px 0 10px 0;">
			  	<h5>Ennakkoilmoitusten kertyminen, <span class="muni-selection"></span></h5>
			    <div id="party-graph"></div>
			    <div id="party-legend"></div>
			  </div>
		  </div>
		  <div class="span6">
			  <div style="position: relative">
			  	<h5>Ehdokkaiden lukumäärä puolueittain, <span class="muni-selection"></span></h5>
			    <div id="candidate-graph"></div>
			    <div id="candidate-legend"></div>
			  </div>
		  </div>
		</div>
  <!-- <button id="show-candidates" class="btn btn-primary">Näytä ehdokkaat</button> -->
  <div id="candidate-budgets">
  </div>
  <hr>
  <div class="row-fluid">
	  
	  <div class="span4">		
	  	<h4>Ennakkoilmoituksen tehneiden ehdokkaiden osuus kunnittain</h4>  	
	  	
	  	<p>
	  		Vasemmalla oleva kartta näyttää prosentein kuinka suuri osuus 
	  		kunkin kunnan ehdokkaista on tehnyt vaalirahoituksen 
	  		ennakkoilmoituksen. Klikkaamalla haluttua kuntaa päivittyvät
	  		oikealla olevat kuvaajat kyseisen kunnan tiedoilla. 
	  	    Jotkin kunnat puuttuvat kokonaan kartalta, sillä niissä ei ole 
	  		virallisesti yhtään ehdokasta usein tulevien kuntaliitosten takia. 
	  	</p>
	 </div> 	
	 
	 <div class="span4"> 	
		<h4>Milloin ehdokkaat ovat ilmoituksia jättäneet?</h4>
		  
		<p>
	  		Oikealla ylhäällä oleva kuvaaja kertoo, kuinka ennakkoilmoituksia 
	  		on kertynyt eri puolueiden ehdokkailta kunnallisvaalien lähestyessä.
	  		Ilmoituksia alettiin seurata 7.10.2012 ja seurantaa jatketaan
	  		vaaleihin asti. Vaalien jälkeen sivulle päivitetään valituksi 
	  		tulleiden vaalirahoitustiedot.
		</p>
	 </div>
		
	 <div class="span4">	
		<h4>Kuinka paljon ehdokkaita on puolueittain?</h4>
		  
		<p>
	  		Oikealla alhaalla oleva kuvaaja näyttää kuinka paljon ehdokkaita
	  		eri puolueilla on maanlaajuisesti ja kunnittain. 
		</p>
     </div>
	</div>
	 
	<div class="row-fluid">
	 <div class="span12">
		<hr />
		<h4>Löysitkö virheen tai keksitkö parannettavaa?</h4>
		  
		<p>
	  		Voit avata uuden issuen tai kommentoida vanhoja datavaalien 
	  		<a href="https://github.com/kansanmuisti/datavaalit/issues?state=open">
	  			GitHub-sivuilla</a>. 
		</p>
	 </div> 	
  </div>
{% endblock %}

